/* Add your CSS code here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#342628;
    color: #FEAA00;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    text-align: center;
    background-color: #FEAA00;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: black;
    font-weight: bold;
    padding: auto;

}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.social-media img {
    width: 100px;
    margin-right: 10px;
}

footer {
    background-color: #342628;
    color: white;
    text-align: center;
    padding: 10px 0;
    color: white;
}

h2 {
    color: #FEAA00;
}
.add-to-basket {
    background-color: #FEAA00;
    color: #342628;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.add-to-basket:hover {
    background-color: #FFC200;
}

header form {
    position: absolute;
    top: 10px;
    right: 10px;
}